aiohttp==3.8.5
aiohttp-retry==2.8.3
asgiref==3.7.2
async-timeout==4.0.3
attrs==21.4.0
beautifulsoup4==4.11.1
billiard==4.1.0
celery==5.3.1
certifi==2023.7.22
cffi==1.15.1
click==8.1.6
colorama==0.4.5
decorator==5.1.1
defusedxml==0.7.1
Django==4.0.5
django-cors-headers==4.2.0
djangorestframework==3.14.0
entrypoints==0.4
fastjsonschema==2.16.1
filelock==3.12.2
geographiclib==2.0
geopy==2.3.0
gunicorn==21.2.0
idna==3.4
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
Jinja2==3.1.2
jsonschema==4.7.2
jupyter==1.0.0
jupyter-client==7.3.4
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
kombu==5.3.1
